#about {
  background: pink;
  filter: blur(5);
  min-height: 100vh;
  .about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--img {
      padding-top: 40px;
    }
  }
  h1 {
    font-weight: 400;
    font-size: 80px;
    line-height: 96px;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-bottom: 30px;
  }
  p {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;

  }
  .horse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--img {

    }
  }
}