#cercle {
  .cercle {
    &--img {

    }
    &--title {
      h1 {
        font-weight: 900;
        font-size: 68px;
        line-height: 72px;
        color: #0B4141;
        padding-bottom: 20px;
      }
      p {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: #0B4141;
        padding-bottom: 20px;
      }
      button {
        width: 225px;
        height: 54px;
        border: 2px solid #0B4141;
        border-radius: 100px;
        flex: none;
        order: 1;
        flex-grow: 0;
      }
    }
  }
}